<div>

  <div class="jumbotron">
    <div class='border-bottom border-dark'>
      <h1>Essbok</h1>
    </div>

  <div class='container'>
    <div id='posts-page'></div>
  </div>
</div>
<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<%= javascript_include_tag 'LikeButton' %>
<%= javascript_include_tag 'PostsPage' %>
