<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav">
    <a class="navbar-brand" href="/">Essbok</a>
    <% if logged_in? %>
      <a class="nav-item nav-link disabled" href="/users/new">Sign-up</a>
      <a class="nav-item nav-link disabled" href="/sessions/new">Log-in</a>
      <a class="nav-item nav-link" href="/sessions/destroy">Log-out</a>
      <a class="nav-item nav-link disabled">Logged in as <%= current_user.email %>.</a>
    <% else %>
      <a class="nav-item nav-link" href="/users/new">Sign-up</a>
      <a class="nav-item nav-link" href="/sessions/new">Log-in</a>
      <a class="nav-item nav-link disabled" href="/sessions/destroy">Log-out</a>
    <% end %>
  </div>
</nav>
